 :root{
    --primary-orange: hsl(26, 100%, 55%);
    --primary-orange-pale: hsl(25, 100%, 94%);
    --neutral-blue-vary: hsl(220, 13%, 13%);
    --neutral-blue-gray-dark: hsl(219, 9%, 45%);
    --neutral-blue-gray: hsl(220, 14%, 75%);
    --neutral-blue-gray-light: hsl(223, 64%, 98%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-black: hsl(0, 0%, 0%);
}